.featured_all {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 60px 20px;
}

.featured_wrap {
  display: flex;
  gap: 30px;
  transition: 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  flex-wrap: wrap;
  justify-content: center;
}

.featured_box {
  background: rgb(227, 238, 255);
  border-radius: 40px;
  padding: 60px 30px;
  text-align: center;
  transition: 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  max-width: 300px;
  flex: 1 1 300px;
}

.featured_img img {
  display: block;
  width: 150px;
  margin: 0 auto 40px auto;
  height: auto;
}

.featured_desc h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.featured_desc p {
  color: rgb(132, 132, 132);
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 25px;
  margin-bottom: 0;
}
